<div class="kalei-styleguide-header">
    <img src="../../images/logo.png"/>
    <span>Style Guide</span>
</div>
<div class="kalei-styleguide-title">Documentation</div>
<div class="kalei-styleguide-search"><input type="text" placeholder="Search Docs: e.g. buttons"></div>
<div class="kalei-styleguide-switcher">
    <select>
        <option value="web">Platform: Web</option>
        <option value="ios">Platform: iOS</option>
        <option value="android">Platform: Android</option>
        <option value="windows">Platform: Windows Phone</option>
    </select>
</div>
<div class="menu-items">
	<ul class="kalei-styleguide-menu">
	<% _.each(menus, function (menu) { %>
		<li>
			<%= menu.category %>

			<ul class="kalei-styleguide-menu">
				<% _.each(menu.sheets, function (sheet) { %>

				<li class="kalei-styleguide-menu-item" data-sheet="<%= sheet.filename %>"><a class="kalei-styleguide-menu-link" href="#/style/<%= sheet.filename %>"><%= sheet.name %></a>
<!--					<div class="kalei-sheet-submenu"></div>  -->

				</li>
				<% }); %>
			</ul>
		</li>
	<% }); %>
	<div style="clear: both;"></div>
</div>

<style type="text/css" media="screen">
    .menu-items {
        position: absolute;
        top: 185px;
        width: 100%;
        left: 0px;
        bottom: 0 !important;
    }
    .kalei-styleguide-menu-heading {
        height: 75px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
    .kalei {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
</style>

<% _.each(externalStyles, function (url) { %>
    <link rel="stylesheet" type="text/css" href="<%= url %>" />
<% }); %>


<!--

BODY
{
    margin: 0;
    padding: 0;
}
#content
{
    border: 3px solid #971111;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #DDD;
    padding-top: 85px;
}
#header
{
    border: 2px solid #279895;
    background-color: #FFF;
    height: 75px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

-->
